MONGO_URI=mongodb://root:password@db:27017
DATABASE_NAME=tfgrid-kyc-db
PORT=8080
CHALLENGE_WINDOW=120
CHALLENGE_DOMAIN=kyc.dev.grid.tf
VERIFICATION_SUSPICIOUS_VERIFICATION_OUTCOME=APPROVED
VERIFICATION_EXPIRED_DOCUMENT_OUTCOME=APPROVED
VERIFICATION_MIN_BALANCE_TO_VERIFY_ACCOUNT=1000000
IDENFY_BASE_URL=https://ivs.idenfy.com
IDENFY_API_KEY=
IDENFY_API_SECRET=
IDENFY_CALLBACK_SIGN_KEY=
IDENFY_WHITELISTED_IPS=
IDENFY_DEV_MODE=false
TFCHAIN_WS_PROVIDER_URL=wss://tfchain.dev.grid.tf
IP_LIMITER_MAX_TOKEN_REQUESTS=5
IP_LIMITER_TOKEN_EXPIRATION=1440
ID_LIMITER_MAX_TOKEN_REQUESTS=5
ID_LIMITER_TOKEN_EXPIRATION=1440
DEBUG=false
IDENFY_CALLBACK_URL=https://kyc.dev.grid.tf/webhooks/idenfy/verification-update
IDENFY_NAMESPACE=
VERIFICATION_ALWAYS_VERIFIED_IDS=